@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
}

.tooltip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-tooltipText {
    position: absolute;
    background-color: rgb(45, 44, 44);
    padding: 5px;
    border-radius: 10px;
    bottom: 127%;
    width: 10rem;
    text-align: center;
    color: white;
    display: none;
}

.top-tooltipText::after {
    content: '';
    position: absolute;
    border: 8px solid;
    top: 100%;
    left: 45%;
    border-color: rgb(45, 44, 44) transparent transparent transparent;
}

.top-source {
    cursor: pointer;
}

.top-source:focus {
    outline: auto rgb(83, 83, 242);
    padding: 0 4px;
}

.bottom-tooltipText {
    position: absolute;
    background-color: rgb(45, 44, 44);
    padding: 5px;
    border-radius: 10px;
    top: 127%;
    width: 10rem;
    text-align: center;
    color: white;
    display: none;
}

.bottom-tooltipText::after {
    content: '';
    position: absolute;
    border: 8px solid;
    bottom: 100%;
    left: 45%;
    border-color: transparent transparent rgb(45, 44, 44) transparent;
}

.bottom-source {
    cursor: pointer;
}

.bottom-source:focus {
    outline: auto rgb(83, 83, 242);
    padding: 0 4px;
}

.left-tooltipText {
    position: absolute;
    background-color: rgb(45, 44, 44);
    padding: 5px;
    border-radius: 10px;
    right: 127%;
    width: 10rem;
    text-align: center;
    color: white;
    display: none;
}

.left-tooltipText::after {
    content: '';
    position: absolute;
    border: 8px solid;
    left: 100%;
    bottom: 25%;
    border-color: transparent transparent transparent rgb(45, 44, 44);
}

.left-source {
    cursor: pointer;
}

.left-source:focus {
    outline: auto rgb(83, 83, 242);
    padding: 0 4px;
}

.right-tooltipText {
    position: absolute;
    background-color: rgb(45, 44, 44);
    padding: 5px;
    border-radius: 10px;
    left: 127%;
    width: 10rem;
    text-align: center;
    color: white;
    display: none;
}

.right-tooltipText::after {
    content: '';
    position: absolute;
    border: 8px solid;
    right: 100%;
    bottom: 25%;
    border-color: transparent rgb(45, 44, 44) transparent transparent;
}

.right-source {
    cursor: pointer;
}

.right-source:focus {
    outline: auto rgb(83, 83, 242);
    padding: 0 4px;
}